<div data-ng-controller="NewActorCtrl">
    <form class="form-horizontal">
        <h1 class="page-header">Nuevo Actor</h1>
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="firstname">Nombre</label>
                <div class="controls">
                    <input id="firstname" type="text" class="input-block-level"
                           required="true" data-ng-model="actor.firstname"></input>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="lastname">Apellido</label>
                <div class="controls">
                    <input id="lastname" type="text" class="input-block-level"
                           required="true" data-ng-model="actor.lastname"></input>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="age">Edad</label>
                <div class="controls">
                    <input id="age" type="number" class="input-block-level"
                           required="false" data-ng-model="actor.age"></input>
                </div>
            </div>
        </fieldset>
        <p>
            <div class="form-actions">
                <button class="btn btn-primary" data-ng-click="saveActor()">Añadir
                    Actor</button>
            </div>
        </p>
    </form>
</div>